:root {
    --theme-color: #079c97;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.sub-Headings {
    font-size: 30px;
    font-family: "Jost", serif;
    font-weight: 700;
}

.sub-title {
    font-size: 18px;
    font-family: "Jost", serif;
    color: #818181;
}

.text-color {
    color: var(--theme-color);
}

section {
    margin-top: 40px;
}

.theme-btn {
    position: relative;
    border: 2px solid #079894;
    border-radius: 50px;
    background: none;
    color: white;
    overflow: hidden;
    z-index: 9;
    transition: all 0.3s linear;
}

.theme-btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #079894;
    top: 0;
    border: 2px solid #079894;
    z-index: -1;
    right: -90%;
    transform: skew(-30deg);
    transition: all 0.3s linear;
}

.theme-btn:hover::before {
    right: -20%;
    width: 150%;
}

.theme-btn:hover {
    color: white !important;
}


/* navbar  */
header {
    padding: 14px;
    z-index: 10;
    width: 100%;
    top: 10px;
}


.navbar ul li a{
    position: relative;
}
.navbar ul li a.active::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--theme-color);
    left: 50%;
    transform: translate(-50% , 0);
    bottom: 2px;
}

.navbar {
    border-radius: 68px;
    background-color: white;
    margin: 0 10px;

}

.navbar img {
    width: 43px;
}

.nav-item a {
    color: #079894;
    font-weight: bolder;
}

.navbar button {
    background-color: var(--theme-color);
    font-size: 18px;
    border: none;
    height: 38px;
    font-weight: bolder;
    padding: 0 12px;
}


/* contact-banner  */
.contact-banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/contact-banner-img.png");
    border: 5px solid var(--theme-color);
    color: white;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.contact-banner h2 {
    font-family: "Jost", serif;
    font-size: 28px;
}

.contact-banner p {
    font-family: "Jost", serif;
    font-size: 16px;
}

.contact-banner .contact-banner-content {
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 400px;
    height: 400px;
    padding: 120px;
}

/* contact-info  */
.contact-info {
    overflow: hidden;
}

.information {
    z-index: 9;
}

.contact-info .contact-form button {
    color: var(--theme-color);
    font-family: "Jost", serif;
    font-size: clamp(14px, 1.4vw, 24px);
    font-weight: 700;
    padding: 8px 22px;
}

.contact-info .contact-form input {
    height: 50px;
    width: 100%;
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;
    border: none;
    margin-block: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 2px #079C9721;
    border-radius: 5px;
    font-family: "Jost", serif;
}

.contact-info .contact-form select {
    height: 50px;
    width: 100%;
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 24px);
    border: none;
    margin-block: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 2px #079C9721;
    border-radius: 5px;
    font-family: "Jost", serif;
}

.contact-info .contact-form textarea {
    height: 100%;
    width: 100%;
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;
    border: none;
    margin-block: 10px;
    padding: 10px;
    color: #818181;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 2px #079C9721;
    border-radius: 5px;
    font-family: "Jost", serif;
}

.contact-info .information {
    background-color: #FFFFFF;
    border: 1px solid #C9E3E3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px #079C9721;
}

.contact-info .information h5 {
    font-weight: 700;
    font-size: clamp(24px, 2.2vw, 36px);
    font-family: "Jost", serif;
}

.contact-info .information p {
    font-weight: 700;
    font-size: clamp(15px, 1.4vw, 28px);
    font-family: "Lato", sans-serif;
}

.contact-info .information .contact span {
    font-size: clamp(12px, 1.2vw, 20px);
    font-family: "Lato", sans-serif;
    color: #818181;

}

.contact-info .information .contact-icon i {
    color: var(--theme-color);
    font-size: clamp(20px, 1.5vw, 32px);
}

.contact-info .information .contact-icon {
    width: clamp(40px, 3.5vw, 60px);
    height: clamp(40px, 3.5vw, 60px);
    border-radius: 10px;
    background-color: #C9E3E3;
}

.contact-info .information .contact {
    border-bottom: 3px solid #DFEBEB;
    padding-bottom: 30px;
}

.contact-info .social-icon {
    font-size: clamp(18px, 1.5vw, 32px);
}

.contact-info .social-icon span {
    background-color: var(--theme-color);
    color: white;
    border-radius: 50px;
    width: clamp(30px, 3vw, 50vw);
    height: clamp(30px, 3vw, 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left-circle {
    position: absolute;
    bottom: 22%;
    left: -5%;
    width: clamp(150px, 10vw, 200px);
    height: clamp(150px, 10vw, 200px);
    border: solid #ECF5F5;
    border-width: clamp(35px, 20px, 45px);
    border-radius: 50%;
    z-index: -1;
}

.contact-right-circle {
    position: absolute;
    top: 0%;
    right: -5%;
    width: clamp(150px, 10vw, 200px);
    height: clamp(150px, 10vw, 200px);
    border: solid #ECF5F5;
    border-width: clamp(35px, 20px, 45px);
    border-radius: 50%;
    z-index: -1;
}

.information .contact-theme img {
    width: 100%;
    height: 100%;
}

.information .contact-theme {
    width: clamp(170px, 18vw, 300px);
    z-index: -1;
}




/* footer  */
.footer-logo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.footer-logo img {
    margin-right: 10px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer .social-icons i {
    font-size: 20px;
}

.footer-box {
    width: 100%;
    height: auto;
    background-image: url("../img/footer-img.png");
    background-position: center;
    backdrop-filter: blur(160px);
    border-radius: 34px;
    z-index: 9;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.418);
}

footer {
    margin-top: 70px;
    background-color: #1A1F1F;
}

footer a {
    text-decoration: none;
}

footer h6 {
    margin: 24px 15px
}

footer .logo svg {
    margin: 10px;
}

.footer-left img {
    width: 70%;
}

footer .logo {
    font-weight: 100;
}

footer .list-unstyled {
    font-weight: 100;
}

footer .Contact {
    font-weight: 100;
}

footer .logo a {
    width: 50px;
    height: 50px;
    display: inline-block;
}

footer .logo h4,
footer .logo p,
footer .Contact,
footer .list-unstyled li {
    font-family: "Jost", serif;
    font-weight: 300;
}

footer .logo a i {
    font-size: 25px;
    color: white;

}

footer .Contact a i {
    font-size: 20px;
    color: white;
}

.footer-left {
    left: 0%;
    top: 0%;
}

.footer-right {
    right: 0%;
    bottom: 0%;
}



/* end */
.End {
    background-color: #1A1F1F;
    color: white;
    border-top: 2px solid #079894;
}

.End p {
    /* padding-top: 5px; */
    font-size: 12px;
    font-family: "Jost", serif;
}

.End p span {
    font-weight: bolder;
}